.pic_div {
    padding: 5vw;
    border-radius: 50%;
}
.div_flex {
    display: flex;
    margin: 0%;
    padding: 0%;
}
.bspImg {
    margin: 0%;
    padding: 0%;
    height: 300px;
}
#div_main {
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
}
#logo {
    width: 50%;
    height: auto;
    border-radius: 10%;
}
#erd {
    width: 100%;
    height: auto;
    margin-top: 0%;
    padding-right: 10%;
}
#arch_img {
    width: 100%;
    height: auto;
}
li {
    font-size: 75%;
}
.bold {
    font-weight: bold;
}
#h2_erd {
    text-align: center;
    margin-top: 35%;
    margin-left: 5%;
}
#morpho_img {
    padding-top: 10%;
    margin: 0%;
    width: 90%;
    height: 90%;
}