body header {
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border-bottom: var(--muted-border-color) 1px solid;
}

body header h1 {
  margin: 0;
}

main {
  min-height: 100vh;
}

body footer {
  padding: 0.5rem 1rem;
  border-top: var(--muted-border-color) 1px solid;
}

/* helper */

.hidden {
  display: none;
}
